/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body{
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #009788 0%,
    #009788 15%,
    #d3dbdb 15%,
    #d3dbdb 100%
  );
}

/* Main */

.container{
    margin: 20px 10% 0px;
    height: 100%;
    display: flex;
}

.container-sx{
    width: 25%;
}

.container-dx{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.container-sx .container-sx-head,
.container-dx .container-dx-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background-color: #eaeaea;
    padding: 5px;
}

.container-sx .container-sx-main{
    background-color: #eaeaea;
}

.container-sx .container-sx-main .container-sx-main-searchbar{
    padding: 8px;
    position: relative;
}

.container-sx .container-sx-main .container-sx-main-searchbar i{
    position: absolute;
    left: 24px;
    bottom: 40%;
    color: #d7d7d7;
    font-size: 10px;
}

.container-sx-main input{
    width: 100%;
    border: 1px solid #f5f5f5;
    padding-left: 75px;
}

.container-sx-main input::placeholder{
    font-size: 6px;
    
}

.container-dx .container-dx-head{
    border-left: 1px solid #d7d7d7;
}

.container-sx .container-sx-head-pic,
.container-dx .container-dx-head-pic{
    display: flex;
    align-items: center;
}

.container-sx .container-sx-head-pic img,
.container-dx .container-dx-head-pic img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.container-sx .container-sx-icons,
.container-dx .container-dx-icons{
    color: #b1b1b1;
}

.container-sx .container-sx-icons i,
.container-dx .container-dx-icons i{

    margin-right: 20px;
}

.conversations{
    background-color: white;
}

.conversation{
    display: flex;
    overflow-y: scroll;
}

.conversation img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 20px 0px;
}

.conversation p{
    padding-top: 10px;
}

.container-dx-main{
    flex-grow: 1;
    background-image: url(/img/mine.jpg);
}


/* footer */

.container-dx-footer{
    display: flex;
    justify-content: end;
    height: 70px;
    width: 90%;
    margin: 0px 10%;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
}

.text-bar{
    width: 75%;
    
}